.header{
align-items: center;
height: 0;
margin-top: 0em;
padding: 1em;
text-align: left;
}

.header h3 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #004691;
}

.header a {
color: #2bb9ff;
font-size: 0.9em;
text-decoration: none;
}

.header a:hover{
color: #12a6ff;
font-weight: bold;
}